body {
    font-family: Arial, sans-serif;
    background-color: #decbe7;
    color: #462f51;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: grid;
}

header, footer {
    background-color: #462f51;
    color: #decbe7;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px; /* Tamanho do texto */
    color: #decbe7; /* Cor do texto */
    border: 4px solid #decbe7; /* Borda mais grossa para simular uma moldura */
    padding: 20px 361px; /* Espaçamento interno para que o texto não fique colado na borda */
    border-radius: 12px; /* Bordas arredondadas para a moldura */
    display: inline-block; /* Faz com que o título tenha o tamanho da moldura */
    background-color: #462f51; /* Cor de fundo do título para combinar com o header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.resenha {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 1200px;
    margin: auto; 
}

.resenha-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.capa-livros {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-right: 20px;
}

.capa-livro {
    width: 200px;
    height: auto;
    margin-right: 25px; 
    margin-bottom: 20px;
    border-radius: 4px; 
    box-shadow: 0 0 5px rgba(0,0,0,0.1); 
}

.info-livro {
    flex: 1; /* Faz com que o texto ocupe o restante do espaço disponível */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.info-livro h2 {
    font-size: 30px; /* Tamanho do título */
    margin: 0; /* Remove a margem padrão */
    padding: 10px 0; /* Espaçamento interno ao redor do título */
    color: #652485;
}

.info-livro p {
    font-size: 17px;
    line-height: 1,8;
    margin: 10px 0; /* Espaçamento entre parágrafos */
}

.info-livro strong {
    font-weight: bold;
    font-size: 20px;
    color: #652485db;
    display: inline;
}

@media (max-width: 768px) {
    /* Faz com que o conteúdo do main se ajuste à tela do dispositivo móvel */
    main {
        padding: 10px;
        max-width: 100%;
        margin: 0 auto;
    }
}

.capa-livros img {
    opacity: 0.5;
    }

    .capa-livros img:hover {
        opacity: 1.0;
        border: 1px solid white; 
    }
    